<nav id="secondary-nav" class="no-js">
	<ul>
		<!--<li>@Html.ActionLink("Category Manager", "index", "Navigation")
		</li>
		<li><a href="#">Photo Review</a>
			<ul class="sub">
			<li>@Html.ActionLink("Photo add", "PhotoSubmit", "Home")</li>
			<li>@Html.ActionLink("Photo View", "PhotoView", "Home")</li>
			</ul>
		</li>-->
		<li><a href="#">SecMenu3</a>
			<ul class="sub">
			<li><a href="">Link 1</a></li>
			<li><a href="">Link 2</a></li>
			<li><a href="">Link 3</a></li>
			<li><a href="">Link 4</a></li></ul>
		</li>
	</ul>
</nav>