@using System.Web.Mvc.Razor

@{
    ViewBag.Title = "University Photographers";
}

<div style="margin-left:60px;"><h2>Welcome to the new University Photo Website</h2></div>
<div style="margin-left:150px;">

<img src="../../Content/Photos/FeaturesIllustrations_MarkPhilbrick_04c.jpg" width="300px;" />
</div>