@model MvcPhoto2.Models.EmailCart

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>EmailCart</legend>

    <div class="display-label">link</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.link)
    </div>

    <div class="display-label">photoShootName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.photoShootName)
    </div>

    <div class="display-label">netId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.netId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
